<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Avoca.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC8972B51D55571400F6F2B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC8972CB1D55571400F6F2B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC8972D61D55571400F6F2B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
